#about-section {
  padding: 10% 0;
  display: flex;
  background-color: #1f1f1f;
  justify-items: center;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.my-image {
  z-index: 2;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 448px;
  gap: 40px;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-header p {
  color: #ffbbc9;
  font-family: 'Red Rose', serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 109%;
}

.about-me-description {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 350;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 7%;
}

.design-toolkit-container {
  color: #ffbbc9;
  font-family: 'Red Rose', serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
}

.tools-row {
  display: flex;
  gap: 30px;
  align-items: left;
}

.tools-row img {
  height: 50px;
  width: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.363);
}

.tools-row img:hover {
  opacity: 1;
}