#contact-section {
  padding: 10% 20%;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 40px;
  justify-items: center;
  align-items: center;
}

.contact-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-header p {
  color: #ffbbc9;
  font-family: 'Red Rose', serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 109%;
}

.contact-cards-container {
  display: flex;
  flex-direction: row;
  gap: 40px;

}

.contact-card {
  background-color: #3f3f3f;
  border-radius: 24px;
  padding: 40px 60px;
}

.contact-card-title {
  font: Lato;
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: 0;
  color: #bebebe;
}

.contact-card-value {
  font: Lato;
  font-weight: 400;
  font-size: 25px;
  line-height: 109%;
  letter-spacing: 0;
  color: white;
}