#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4A5F7F;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

#home-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(80px);
  z-index: 0;
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.05;
  background: url('https://grainy-gradients.vercel.app/noise.svg');
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

#home-section h1 {
  font-size: 120px;
  font: 'Montserrat';
  margin: 0;
  color: white;
  /* Ensure text is visible on dark background */
}

#home-section p {
  font-size: 25px;
  font: 'Montserrat';
  color: white;
  margin-top: -30px;
  /* Ensure text is visible on dark background */
}